<!-- <% if current_user.follows?(user) %>
  <%#= button_to "Unfollow", user_follow_url(user), method: :delete %>
<% else %>
  <%#= button_to "Follow", user_follow_url(user), method: :post %>
<% end %> -->

  <button class="follow-toggle" type="button" data-initial-follow-state="<%= current_user.follows?(user) %>" name="button" data-userid="<%= user.id %>">Follow</button>
